.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

upload/fileExcelUpdateMasterKaryawan/*
!upload/fileExcelUpdateMasterKaryawan/myAvatar.png
upload/imgSignature/*
!upload/imgSignature/myAvatar.png

application/config/database.php
application/config/database1.php
application/config/database2.php
application/config/database3.php

/user_guide/
